<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.csf.mapper.CsfMapper">
	<resultMap type="article" id="articles">
		<id property="id" column="id" />
		<association property="comment"
			select="selectCountComment" column="id" />
	</resultMap>
	<select id="selectArticles" parameterType="pageInfo"
		resultMap="articles">
		select * from article
		<where>
			<if test="type != null">
				type = #{type}
			</if>
			<if test="date != null">
				AND date = #{date}
			</if>
		</where>
		order by detailDate desc limit #{rowStart},#{pageSize}
	</select>
	<select id="selectArticleCount" parameterType="pageInfo"
		resultType="int">
		select count(*) from article
		<where>
			<if test="type != null">
				type = #{type}
			</if>
			<if test="date != null">
				AND date = #{date}
			</if>
		</where>
	</select>
	<select id="selectAllArticleDate" parameterType="pageInfo"
		resultType="string">
		select distinct date from article
		<where>
			<if test="type != null">
				type = #{type}
			</if>
			<if test="date != null">
				AND date = #{date}
			</if>
		</where>
	</select>
	<resultMap type="tag" id="tags">
		<result property="count" column="count(*)" />
	</resultMap>
	<select id="selectAllTags" parameterType="pageInfo"
		resultMap="tags">
		select count(*),type from article
		<where>
			<if test="type != null">
				type = #{type}
			</if>
			<if test="date != null">
				AND date = #{date}
			</if>
		</where>
		group by type order by count(*) desc
	</select>
</mapper>